*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
}
/* Logo */

.logo {
    font-weight: bold;
    font-size: 1.5em;
}


/* Navbar */

.navbar{
    height: 70px;
    transition: 0.5s ease-out;
}


h5{
    font-size: 1.5em;
}

.nav-links{
    text-align: center;
    font-size : 1.2em;
    font-weight: bold;
}

.nav-link{
    padding-top: 25px;
}

.offcanvas-body{
    display: flex;
    align-items: center;
}

@media (min-width:992px){
    .nav-link{
    transition: 0.3s ease-out;
    }

    .nav-link:hover {
    font-size: 1.3em;
    }

    .logo{
        margin-left: 150px;
    }

    .navbar-toggler{
        margin-right: 50px;
    }
}

/* banner */

.banner{
    height: 50vh;
    background-image: url(/img/ban-kebab.jpg);
    background-size: cover;
    background-position: center;
}

.title{
    height: 35vh;
    position: relative;
}


h1{
    position: absolute;
    font-family: 'Acme', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    top:0;
    font-size: 2.5em;
    text-align: center;
    width: fit-content;
    color:white;
    text-shadow: 3px 3px 3px black;
}

.slogan{
    visibility: hidden;
}

.discover-btn, .menu-btn{
    visibility: visible;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
    width: 140px;
    height: 60px;
    border-radius: 15px ;
    border: solid 3px rgba(255, 255, 255, 0.726);
    background-color: rgba(49, 40, 40, 0.699);
    font-weight: bold; 
}

.banner-btn{
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    margin-top: 50px;
}

.banner-btn a{
    color: whitesmoke;
    text-decoration: none;
}


@media (min-width: 768px){

    .title{
        height: 30vh;
    }

}
@media (min-width: 992px){

    .banner{
        height: 100vh;
    }

    .banner-btn{
        justify-content:center;
        column-gap: 50px;
        margin:0 ;
    }

    .banner-btn .ban-btn{
        transition: 0.3s ease-out;
        border-radius:87% 13% 80% 20% / 32% 66% 34% 68% ;
    }

    .banner-btn .ban-btn:hover{
        width: 150px;
        border-radius: 6% 94% 12% 88% / 86% 0% 100% 14% ;
        background-color: rgba(0, 0, 0, 0.466);
        color: rgba(245, 245, 245, 0.795);
    }

    .title{
        width: 50%;
        height: 100px;
    }

    h1{
        position:relative;
        display:flex;
        margin-left: 50px;
        font-size: 3em;
    }
    .slogan{
        visibility: visible;
        color:white;
        font-style: italic;
        margin-left: 50px;
        font-size: 1.5em;
        text-shadow: 3px 3px 3px black;
        text-align: center;
    }
}


section{
    height: 100vh;
}

/* Accueil */

.accueil{
    height: fit-content;
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: justify;
    padding-top: 50px;
}
.accueil img {
    width: 100%;
    height: auto;
    border-radius: 8% 80% 12% 88% / 86% 0% 100% 14% ;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
 
.ac-body{
    display: flex;
    flex-direction: column; 
}

#acimg{
    opacity: 0;
    transform: translateX(400px);
    transition: 0.5s ease-out;
}


 @media (min-width: 992px){

    .accueil{
        height: 100vh;
        font-size: 1.1em;
    }

    .ac-body{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }

    .accueil img{
        width: 130%;
        height: 130%;
        filter: grayscale(75%);
        width:100%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
    }

    .accueil img:hover{
        filter: grayscale(0);
        transform:scale(1.12);
        border-radius: 0;
    }

    #actext{
        opacity: 0;
        transform: translateX(-400px);
        transition: 0.5s ease-out;
    }
    
    
}


/* ------ MENU -------*/

.menu{
    background-color: whitesmoke;
    padding-top: 50px;
    overflow:scroll;
    border: 2px solid rgba(0, 0, 0, 0.384);
    height: auto;
    padding-bottom: 50px;
    
}


.menu h2{
    font-size: 2em;
    margin-top:0;
    padding-bottom: 45px;
}

.menu .container h3{
    margin-bottom: 50px;
    position: relative;
}

.menu .container h5{
    font-size: 1em;
}


.menu .container .row{
    margin-bottom: 25px;
}

.menu .card{
    margin-bottom: 20px;
}

.menu .card:hover{
    cursor: pointer;
}

.cook-img{
    width: 70px;
    height: 70px;
}

#kebab1{
    width: 125px;
    position: absolute;
    top:115px;
    right: 75px;
    opacity: 0;
}



/* ---- toggle ---*/
@media(max-width: 992px){
    .cardactive{
        height: 250px;
    }

}

/* ---- toggle ---*/
.menu p {
    font-style: italic;
}

@media(min-width: 992px){
    .menu {
        border:none;
        margin : 0 auto;
        overflow:initial;
    }

    .menu .container h3::before{
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.644);
        width: 45%;
        height: 2px;
        top:15px;
        left:-100px;
    }
    
    .menu .container h3::after{
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.644);
        width: 45%;
        height: 2px;
        top:15px;
        right:-100px;
    }

    .menu .card:hover{
        cursor:default;
    }


}

/* ------------- SAVOIR FAIRE -------------- */

.s-faire{
    background-color: rgb(53, 53, 53);
    height: auto;
}

.s-faire h2{
    padding: 180px 0;
    color: whitesmoke;
}

.box-timeline {
    width: 100%;
    height: 1300px;
    background: rgb(53, 53, 53);
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 0;
}
.ligne {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: rgb(190, 190, 190);
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(190, 190, 190);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 1px solid black;
}

.r1{
    top: 80px;
}
.r2{
    top: 386px;
}
.r3{
    top: 692px;
}
.r4{
    top: 1000px;
}

.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: 1s ease-out;
    text-align: center;
}


.b1 {
    top: 20px;
    left: calc(50% - 870px);
}

.b2 {
    top: 326px;
    left: calc(50% + 870px);
}

.b3 {
    top: 632px;
    left: calc(50% - 870px);
}

.b4 {
    top: 940px;
    left: calc(50% + 870px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 1250px)
    }
    .s-faire h2{
        padding : 100px 0;
    }

}

@media screen and (max-width: 530px){
    .ligne{
        left: 0;
    }

    .rond{
        left: 50%;
    }

    .box{
        left:50%;
        width: 290px;
    }

    .b1{
        top: 170px;
    }
    .b2{
        top: 476px;
    }
    .b3{
        top:782px;
    }
    .b4{
        top: 1090px;
    }

    .s-faire h2{
        padding : 50px 0;
    }

}






/* ----------- CONTACT ---------- */

.contact{
    background-color: whitesmoke !important;
}

footer{
    height: 15vh;
}